image: maven:latest

stages:
  - lint
  - build
  - test
  - publish

checkstyle:
  stage: lint
  needs: []
  script:
    - mvn checkstyle:checkstyle

compile:
  stage: build
  needs: []
  script:
    - mvn install

junit:
  stage: test
  needs: [compile]
  script:
    - mvn test
  artifacts:
    paths:
      - target/surefire-reports/*.xml

pages:
  stage: publish
  needs: [junit]
  script:
    - mkdir .public
    - mkdir .public/api
    - mvn javadoc:jar
    - cp static/* .public/
    - cp target/apidocs/* .public/api/
    - mv .public public
  artifacts:
    paths:
      - public
  only: [master]
